<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线文件管理系统</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./tools/easyUI/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="./tools/easyUI/themes/icon.css">
    <link rel="stylesheet" href="./css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-dialog.css">
</head>
<body class="">
    <nav class="navbar navbar-inverse navbar-custom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">在线文件管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/#">最新</a>
                    </li>
                    <li>
                        <a href="/#">热门</a>
                    </li>
                    <li>
                        <a href="/#">讨论</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a href="#">关于</a>
                    </li>
                    <li>
                        <a href="#">帮助</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
        </ol>
        <div class="col-md-12">

            <div class="file-list-container">
                <table id="file-list" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td width="30">
                                <input type="checkbox" class="select-all">
                            </td>
                            <td>文件名</td>
                            <td width="200">大小</td>
                            <td width="200">修改时间</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="file-action">
                     <div id="uploader" class="wu-example">
                        <!--用来存放文件信息-->
                        <div class="btns">
                            <div id="picker"><i class="fa fa-upload"></i>&nbsp;上传文件</div>
                        </div>
                    </div>
                     <div id="thelist" class="uploader-list"></div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- 右键菜单 -->
    <div id="mm" class="easyui-menu" style="width:120px;display:none">
        <div action="rename">重命名</div>
        <div class="menu-sep"></div>
        <div action="delete">删除</div>
        <div class="menu-sep"></div>
        <div action="download">下载</div>
        <div class="menu-sep"></div>
        <div action="newfolder">新建文件夹</div>
    </div>

    <script src="./js/jquery.js"></script>
    <script type="text/javascript" src="./tools/easyUI/jquery.easyui.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/jquery.dataTables.js"></script>
    <script src="./js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="./js/webuploader.min.js"></script>
    <script src="./js/dialog.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>